
html, body {
    font-family: sans-serif;
    background-color: darkred;
    color: #555;
    margin: 0;
    display: flex;
    justify-content: center;
}

h1,h2 {
    font-weight: 100;
}

div#main {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 2px #CCC;
    border-radius: 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    display:inline-block;
    margin: 5em;
}

div#template {
    display: none;
}

a.remove {
    color: darkred;
    text-decoration: none;
    font-size: smaller;
}