html, body {
    font-family: sans-serif;
    text-align: center;
    background-color: darkred;
    color: #555;
    height: 100%;
    margin: 0;
    transition: background-color 2s ease-in-out;
}

h1,h2 {
    font-weight: 100;
}

div#main {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 2px #CCC;
    border-radius: 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    display:inline-block;
    margin: 5em;
}

#img {
    margin:0 0;
    background-image: url("green.svg");
    background-repeat: no-repeat;
    padding: 0;
}

#img > img {
    transition: opacity 2s ease-in-out;
}

.green #img img {
    opacity:0;
}

body.green {
    background-color: darkgreen;
}